# BOF

*.dll
*.exe
*.lo
*.o
*.Plo
*.TPlo
*.a
*.so
*.dylib

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

build
*/build
*/build/*

*/xcuserdata
xcuserdata/*
xcuserdata
*/xcuserdata/*

.vscode
.vscode/*
*/.vscode
*/.vscode/*

cython/mcmath.c
cython/mcmath.log
cython/mcmath.pxd
cython/mcmath.pyx

# EOF